

.menu {
    background-color: $colormenu;
    color: white;
    width: 17rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__list-item {
        list-style: none;
        padding: 1.5rem;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        &:hover{
                 color: $color_active_menu;    
                 cursor: pointer;           
        }
       
    }
}
.menu__list
{
   flex-direction: column;
   margin-bottom: 4rem;

}

.menu--add{
  position: absolute;
  bottom: 3rem;
i{
        background: $color_active_menu;
        padding: 0.4rem;
        border-radius: 0.5rem 0.5rem 0.5rem 0;
        color: $colormenu;
        margin-right: 0.5rem;
    }
}

